<fieldset>
  <legend>Edit Review</legend>
  <!-- TITLE -->
<div class="form-group">
    <label for="review-title">Title</label><br>
    <input id="review-title" type="text" name="title" value="{{review.title}}"/>
</div>

  <!-- DESCRIPTION -->
    <div class="form-group">
        <label for="review-description">Description</label><br>
        <textarea id="review-description" name="description" rows="10" />{{review.description}}</textarea>
    </div>

  <!-- Rating -->
    <div class="form-group">
        <label for="rating-stars">Rating</label></br>
        <select class="form-group" data-style="btn-info" name="rating">
            <option id="rating-stars" type="text" value="&#9733;">&#9733;</option>
            <option id="rating-stars" type="text" value="&#9733;&#9733;">&#9733;&#9733;</option>
            <option id="rating-stars" type="text" value="&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;</option>
            <option id="rating-stars" type="text" value="&#9733;&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;&#9733;</option>
            <option id="rating-stars" type="text" value="&#9733;&#9733;&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
        </select>
    </div>
</fieldset>
