<!-- views/reviews-edit.handlebars -->

<form method="POST" action="/reviews/{{review._id}}?_method=PUT">
  {{> reviews-form}}
  <!-- BUTTON -->
  <p>
    <button type="submit">Save Review</button>
  </p>
</form>

<form method="GET" action="/reviews/{{review._id}}">
    <p>
      <button type="cancel">Cancel</button>
    </p>
</form>
